<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css styles/styles.css">
  <link rel="stylesheet" href="/assets/css styles/styles.css">
  <link rel="stylesheet" href="/assets/css styles/footer.css">
  <script src="/assets/js scripts/script.js"></script>
  <title>Footer Section</title>
</head>
<body>




<style>
  
</style>










  <div class="footer-container">
  <footer>
    <div class="row-footer">
      <div class="col-footer">
        <h6>Recipe Advisor</h6>
        <p>Recipe Advisor is a custom html/ css website made by Anwar A Mzee to mimic a recipe blog</p>
        <section class="social-media">
          <div class="social-icons">
            <a href="https://facebook.com" target="_blank" class="social-icon">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com" target="_blank" class="social-icon">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="https://instagram.com" target="_blank" class="social-icon">
              <i class="fa fa-instagram"></i>
            </a>
            <a href="https://linkedin.com" target="_blank" class="social-icon">
              <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://youtube.com" target="_blank" class="social-icon">
              <i class="fa fa-youtube"></i>
            </a>
          </div>
        </section>
      </div>
      <div class="col-footer">
        <h6>Legal</h6>
        <ul class="footer-links">
          <li><a href="#">Affiliate Disclosure</a></li>
          <li><a href="#">Cooky Policy</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Copyright Notice</a></li>
          <li><a href="#">GDPR Compliance</a></li>
        </ul>
      </div>
      <div class="col-footer">
        <h6>Resources</h6>
        <ul class="footer-links">
          <li><a href="/blog/">Blog</a></li>
          <li><a href="#">Articles</a></li>
          <li><a href="/categories/recepies.html">recepies</a></li>
          <li><a href="#">E-books</a></li>
          <li><a href="#">Guides</a></li>
          <li><a href="#">Ingredients</a></li>
        </ul>
      </div>
      <div class="col-footer">
        <h6>Company</h6>
        <ul class="footer-links">
          <li><a href="/company/about-us.html">About Us</a></li>
          <li><a href="/company/contact.html">Contact Us</li>
          <li><a href="/company/legal/terms.html">Terms of service</a></li>
          <li><a href="#">Editorial Process</a></li>
          <li><a href="#">Career</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom-footer-bar">
      <span>&copy; Anwar A Mzee developed Recipe Advisor With ♥ </span>
    </div>
  </footer>
</div>
</body>
</html>