<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css styles/nav.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="assets\js scripts\script.js"></script> 
  <title>Nav</title>
</head>
<body>
  <div class="nav-container">
  <header>
    <div class="text-logo"><a href="/"><span>Rec</span>ipe Advi<span>sor</span></a>
    </div>
<nav class="navbar">
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/start-here.html">Start Here</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/categories/">Categories</a></li>
      <li><a href="/company/about-us.html">About</a></li>
    </ul>
</nav>
<a href="/company/contact.html"><button class="header-btn">Contact Us</button></a>
<i class="fa fa-bars toggle-menu" onclick="toggleOnMobile()"></i>

</header>
</div>
</body>
</html>